.*
*~
!/.github
!/.gitignore
!/.travis.yml
*.exe
*.tar.gz
*.zip
*.obj
*.lib
*.o
*.pc
*.dSYM
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
/benchmark
/test/test1
/test/test2
build
